.logo{
  float: left;
  height: 40px;
  background: rgba(255, 255, 255, 0);
}
.headerInLeft{
  float: left;
  margin-left: 10px;
}
.headerInRight{
  float: right;
  margin-right: 10px;
}

.footer{
  text-align: center;
  background: rgba(255, 255, 255, 0);
}
