

.invest-form{
    width: 17em;
    height: 100%;
    margin-left: 1em;
}
.invest-slogan{
    font-size: 20px;
    letter-spacing:1px;
    margin-left: 5em;
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgba(0,0,0,.85);
}

.invest-form-row{
    margin-left: 8%;
    font-size: 10px;
}
