
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.slogan{
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    color: rgba(0,0,0,.85);
}

.register-slogan{
    font-size: 35px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    color: rgba(0,0,0,.85);
}

.p-font{
    font-size: 24px;
}
