
.container{
  margin: 0 80px 0;
  .text{
    font-size: 80px;
    line-height: 1;
    color: #FFF;
  }
  .smallText{
    margin-top: 30px;
    font-size: 25px;
    line-height: 1;
    color: #FFF;
  }
}

.center{
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  width: 100%;
  max-width: 1080px;

  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;


}


.titleFix{
  text-align: left;
  max-width: 455px;

}

.new{
  margin-top: 80px;
  margin-bottom: -10px;
}

.home-flex-news{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  .home-flex-news-components{
    width: 300px;
  }
}

.home-flex-finance{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  .home-flex-finance-components{
    width: 300px;
  }
}
