
.home-page-container{
  margin: 0 80px 0;
  .home-page-text{
    font-size: 80px;
    line-height: 1;
    color: #FFF;
  }
  .home-page-small-text-contain{
    margin-top: 30px;
    .home-page-small-text{
      font-size: 18px;
      line-height: 1.2;
      color: #FFF;
    }
  }

}

.home-page-big-text-contain{
  margin-top: 20px;
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  .home-page-big-text-contain-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    .home-page-big-text-contain-item-text{
      color: #FFF;
      font-size: 45px;
      line-height: 1;
      margin-bottom: 10px;
    }
    .home-page-big-text-contain-item-text2{
      color: #FFF;
      font-size: 25px;
      line-height: 1.5;
    }
  }
}
.home-page-center{
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  width: 100%;
  max-width: 1080px;

  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;


}


.home-page-title-fix{
  text-align: left;
  max-width: 455px;


}

.home-page-new{
  margin-top: 80px;
  margin-bottom: -10px;
}

.home-flex-news{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  .home-flex-news-components{
    width: 300px;
  }
}

.home-flex-finance{
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  .home-flex-finance-components{
    width: 300px;
  }
}
