
.container{
  margin: 0 80px 0;
  .text{
    font-size: 80px;
    line-height: 1;
    color: #FFF;
  }
  .smallText{
    margin-top: 30px;
    font-size: 25px;
    line-height: 1;
    color: #FFF;
  }
}

.center{
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  width: 100%;
  max-width: 1080px;

  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.titleFix{
  text-align: left;
  max-width: 455px;

}

.new{
  margin-top: 80px;
  margin-bottom: -10px;
}
.cards{
  padding: 0px;
  .card{
    border-radius: 25px;
    .card-center{
      text-align: center;
      .cardText{
        margin-top: 15px;
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
        color: #282828;
      }

    }
  }
}
